<div class="card">
  <div class="card-heading">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2"> filter by: </div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter' />
        <h3>{{listFilter}}</h3>
      </div>
    </div>
    <div class="row"></div>
      <div class="col-md-6">
        <h3>Filtered By : </h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)='toggleImage()'>{{(showImage?'Hide':'Show')}} Image
                        </button>
            </th>
            <th> Title </th>
            <th> City </th>
            <th> State </th>
            <th> 5 Star Rank </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let res of resturants'>
            <td><img *ngIf='showImage' [src]='res.imageUrl' [title]='res.imageTitle' [style.width.px]='imageWidth'><img> </td>
            <td>{{res.restaurantTitle| uppercase }}</td>
            <td>{{res.restaurantCity| charDash }}</td>
            <td>{{res.restaurantState }}</td>
            <td>{{res.starRating| currency:'INR':false:'0.4'}}</td>
          </tr>

        </tbody>

      </table>
      <!--<p>{{resturants|json}}</p>-->
    </div>
  </div>
</div>

<p>harish </p>